@page "/games"
@using frontend.Service.Declaration
@using frontend.Model
@using frontend.Model.Game
@using frontend.Model.User

<h2>Preparez-vous au combat !</h2>

<div>
    <GameCreatorForm XMax="25" YMax="25"/>
</div>