@using frontend.Model
@using frontend.Model.Game
@using frontend.Service.Declaration
@using frontend.Service.Implementation

@if (MapModel != null)
{
    <div class="map-16" style="display: flex; align-items: center; justify-content: center;">
        <div class="map">
            <div style="display: grid; grid-template-columns: repeat(@MapModel.XMax, 1fr); width: @(16 * MapModel.XMax)">

                @for (int x = 0; x < MapModel.XMax; x++)
                {
                    @for (int y = 0; y < MapModel.YMax; y++)
                    {
                        <div style="grid-row: @(y + 1);">
                            <Tile X="x" Y="y" ActualTile="GetTileAt(x, y)" GameModel="@GameModel" />
                        </div>
                    }
                }

            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public MapModel MapModel {get; set; }

    [Parameter]
    public GameModel GameModel {get; set; }
    
    public TileModel GetTileAt(int x, int y)
    {
        return MapModel.Tiles.FirstOrDefault(t => t.Position.X == x && t.Position.Y == y);
    }
}
