@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Play', sans-serif;
}

main, body{
    background-color: #2A1228;
}

p, span, label, i, b, li {
    color: white;
}

ul {
    padding: unset;
}

li {
    list-style: none;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.map {
    position: relative;
}

.tile {
    width: 32px;
    height: 32px;
    position: relative;
}

.map-16 .tile {
    width: 16px !important;
    height: 16px !important;
}

.tile > .object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 40;
}

.tile > .object > img {
    max-width: 100%;
    max-height: 100%;
}

.tile > .floor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 20;
}

    .tile > .hover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 30;
    }

.tile > .floor > img {
    max-width: 100%;
    max-height: 100%;
}

.player {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 40;
    transition: top ease-in-out 1s, left ease-in-out 1s;
}

        .player > img {
            max-width: 100%;
            max-height: 100%;
        }

.one-click-button {
    touch-action: manipulation
}

.attack-sword-left {
    animation: attack-left 0.4s ease-in-out;
    position: absolute;
    top: 0px;
    left: -12px;
}


@keyframes attack-left {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-90deg);
    }
}


.player > img {
    max-width: 100%;
    max-height: 100%;
}