@page "/"
@using frontend.Model
@using System.Security.Cryptography.X509Certificates
@using Blazored.LocalStorage

<PixelButton title="Bouton 2" color="#37d6c8" width="60px"/>
<PixelButton title="Autre button" color="red" />
<p>
    @message
</p>

@code{
    public String message;
}