@using frontend.Service.Declaration
@using frontend.Model.User
@using frontend.Service.Implementation
@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        @Body
    </main>
</div>
<style>
main {
    width: auto;
    margin: 100px clamp(20px, 5%, 150px);
    min-height: calc(100vh - 200px);
}
</style>

@code
{
    [Inject]
    public IUserService UserService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public UserConnectionModel User = null;

    /// <summary>
    /// Method invoked when the component is ready to start, having received its
    /// initial parameters from its parent in the render tree.
    /// Override this method if you will perform an asynchronous operation and
    /// want the component to refresh when that operation is completed.
    /// </summary>
    /// <returns>A <see cref="T:System.Threading.Tasks.Task" /> representing any asynchronous operation.</returns>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        User = await UserService.GetCurrentUser();
        ((UserService)UserService).UserChanged += UserChangedHandler;

        if(User == null){
            NavigationManager.NavigateTo("/");
        }
    }

    private async void UserChangedHandler()
    {
        User = await UserService.GetCurrentUser();
    }
}
