<div class="popUpWrapper @GetPopClassActiv()"/>
<div class="popUp @GetPopClassActiv()">
    <span class="popUp__close oi oi-x" @onclick="@ClosePopUp" aria-hidden="true"/>
    <div class="popUp__content">
        @Content
    </div>
    <div class="popUp__action">
        <CustomButton title="Fermer" full="false" OnClickCallback="@ClosePopUp"/>
        @Action
    </div>
</div>

<style>
.popUpWrapper{
    display: none;
}
.popUpWrapper.active{
    display: block;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
.popUp {
    display: none;
}
.popUp.active{
    display: block;
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000000;
    width: 80%;
    height: 40vh;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    overflow: hidden;
}

.popUp__close{
    width: 30px;
    height: 30px;
    color: red;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.popUp__content{
    margin-top: 40px;
}
.popUp__content h3, .popUp__content h1, .popUp__content h2, .popUp__content h4, .popUp__content h5, .popUp__content p, .popUp__content span, .popUp__content label{
    color: black;
}
.popUp__action{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: calc(100% - 40px);
    justify-content: space-around;
    align-items: center;
}
</style>

@code{
    private Boolean _displayPopUp;

    [Parameter]
    public Boolean displayPopUp
    {
        get => _displayPopUp;
        set
        {
            if (_displayPopUp == value ) return;
            _displayPopUp = value;
            displayPopUpChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<Boolean> displayPopUpChanged { get; set; }
    
    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment Action { get; set; }

    private String GetPopClassActiv()
    {
        if(displayPopUp){
            return "active";
        }else{
            return null;
        }
    }

    private void ClosePopUp() {
        displayPopUp = false;
    }
}